node_modules
/dist/
dist-electron
out/
*.log
.env
.idea
.vscode
.pytest_cache/
__pycache__
*.pyc
venv
.venv
packaging/python-runtime
packaging/python-service
python_service/build/
python_service/dist/
releases
/docs/
storage/settings.local.json
/build/
test-results/
.build-version.json
.cache/
